/* styles.css */
body {
  font-family: Arial, sans-serif;
  text-align: center;
  margin: 0;
  padding: 0;
  color: black; /* Color negro para texto y números */
  background-color: white; /* Fondo blanco */
}

#countdown {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 20vh; /* Centrado vertical */
}

#countdown div {
  text-align: center;
}

#countdown span {
  font-size: 4rem;
  font-weight: bold;
  display: block;
}

#countdown p {
  font-size: 1.2rem;
  margin: 0;
}
